body{
    background-color: #004030;
}
.Secondary{
    background-color: #DCD0A8;
    border: 3px solid ;
    box-shadow: 5px 5px;
    border-radius: 20px;
    margin: 80px;
    margin-top: 60px;
    word-wrap: break-word;
}
h1{
    color: #004030;
    font-size: 5rem;
    font-family: 'Nunito',cursive;
    font-style: italic;
}
p{
    font-family: 'Nunito',cursive;
}
.img-edit{
    border: 3px solid ;
    box-shadow: 5px 5px;
    border-radius: 20px;
}
.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: .75rem;
}
.card{
    border-color: #004030;
    box-shadow: 5px 5px;
    border-radius: 20px;
    background-color: #FFF9E5;
}
h2{
    color: #004030;
    font-size:2rem;
    font-family: 'Nunito',cursive;
    font-style: italic;
    font-weight: bold;
}
.foot{
    font-weight: bold;
    font-size: large;
    
}
